.forgot-password-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 700px;
    height: 30vh;
    width: 100%;
    margin: auto;
  }
  
  .forgot-password-title {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
  }
  
  .forgot-password-subtitle {
    margin-bottom: 20px;
    color: #555;
  }
  
  .forgot-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .forgot-password-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .forgot-password-button {
    background-color: #02660f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .forgot-password-button:hover {
    background-color: #5548c8;
  }
  
  .forgot-password-message {
    margin-top: 20px;
    color: green;
    font-size: 14px;
  }
  